.carousel {
    position: relative;
    width: 100%;
    max-width: 37.5rem; /* 600px */
    height: 25rem; /* 400px */
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    min-width: 100%;
    height: 25rem; /* 400px */
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 0.625rem; /* 10px */
    text-decoration: none;
  }
  
  .carousel-control.prev { left: 0.625rem; /* 10px */ }
  .carousel-control.next { right: 0.625rem; /* 10px */ }
  
  .carousel-indicators {
    position: absolute;
    bottom: 0.325rem; /* 10px */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
  
  .carousel-indicators button {
    background-color: #818181;
    border: none;
    width: 7.125rem ; /* 5px */
    height: 0.0625rem; /* 1px */
    margin-right:-2rem;
    margin-left:-2rem;
    cursor: pointer;
    opacity: 0.5; /* Add this line to make the buttons transparent */
    scale: 0.3;
    
  }
  
  .carousel-indicators button.active {
    
    background-color: #fff;
  }