.footer {
  margin-left: auto;
  margin-right: auto;
  background-color: #1f2937;
  color: #e2effd;
  padding-top: 5rem;
  margin-bottom: 0.1rem;
  margin-top: 1.2rem;
  position: relative;
  bottom: 0;
  width: 80%;
  left: 0;
  right: 0;
  z-index: 0;
}

.container {
  max-width: 75rem; /* assuming 1200px is the max width, and 1rem = 16px */
  margin: 0 auto;
  margin-top: 0.5rem;
  padding: 0 1.25rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.col {
  flex: 1;
  margin-bottom: 1.875rem;
  padding: 0 1.25rem;
}

.md3 {
  flex-basis: 25%;
}

h4 {
  position: absolute;
  top: 0;
  font-weight: bold !important;
  padding-top: 1rem;
}

.footerList {
  list-style: none;
  padding: 0;
  margin-bottom: 1.25rem;
}

.footerList li {
  margin-bottom: 0.625rem;
}

.footerList a {
  color: #e2effd;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footerList a:hover {
  text-decoration: underline;
  color: #007bff;
}

.subscribeForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.subscribeForm input[type="email"] {
  padding: 0.625rem;
  border: 0.0625rem solid #fff;
  border-radius: 0.3125rem;
  flex: 1;
  margin-right: 0.625rem;
}

.subscribeBtn {
  background-color: #007bff;
  color: #fff;
  padding: 0.625rem 1.25rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribeBtn:hover {
  background-color: #0056b3;
}

.socialIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
}

.socialIcons a {
  color: #fff;
  font-size: 1.25rem;
  transition: color 0.3s ease;
}

.socialIcons a:hover {
  color: #007bff;
}